.btn{
    background-color: #5B21B6;
    color: white;
}
.card{
    background-color: #2A2634;
}
.card-header{
    background-color: #2A2634;
    color: #fff;
}
.list-group-item{
    background-color: #2A2634;
    color: white;
}