/* You can add global styles to this file, and also import other style files */
header,body{
    background-color: #2A2634;
    font-family: 'Urbanist', sans-serif;
}

body{
    background-image: url('/assets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}